/*==================================
.menu-trigger
==================================*/
.menu-trigger {
  /* とりあえずの設定 */
  /* background-color: red;
  width: 50px;
  height: 50px; */
  display: none;
  /* browserごとに設定をしないといけない場合はwebkitを使ったりする */
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: 0.4s;
  box-sizing: border-box;
}
/*==================================
#global-nav
==================================*/
#global-nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  /* position を入れると小さくなるのでwidthを設定する */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#global-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 12px;
}
#global-nav li {
  margin: 0 6%;
}
#global-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
/*==================================
sp 0-768pxの場合の設定
==================================*/
@media screen and (max-width: 768px) {
  .sp_header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  .menu-trigger {
    width: 56px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    outline: none;
  }

  .menu-trigger span {
    position: absolute;
    left: 50%;
    width: 32px;
    height: 3px;
    /* positionを使うと線が一旦真ん中に集まる */
    /* 真ん中に戻す */
    background-color: white;
    transform: translate(-50%, -50%);
  }
  .menu-trigger span:nth-last-of-type(1) {
    top: 15px;
  }
  .menu-trigger span:nth-last-of-type(2) {
    top: 49%;
  }
  .menu-trigger span:nth-last-of-type(3) {
    bottom: 13px;
  }
  /*
    .activeは同じ階層にくっついている時なので、スペースを空けずに書く
    スペースが開くとしたの階層ということになる
*/
  .menu-trigger.active span:nth-last-of-type(1) {
    /* 上から49% */

    top: 49%;
    /* move left 50% move up 50% */
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .menu-trigger.active span:nth-last-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-last-of-type(3) {
    /* 下から49% */
    bottom: 49%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #global-nav {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;

    padding: 90px 5% 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
  }
  #global-nav.active {
    display: block;
    z-index: 1;
  }
  #global-nav ul {
    display: block;
  }
  #global-nav li {
    margin: 0 auto;
  }
  #global-nav li,
  #global-nav li:last-child {
    text-align: center;
    margin-bottom: 6%;
  }
  #global-nav li a {
    font-size: 24px;
    text-align: center;
    background: none;
    padding-top: 12px;
  }
}
